@page
@model MineCosmos.Bot.BlazorApp.Server.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Development Mode</h3>
            <p>
                Swapping to the <strong>Development</strong> environment displays detailed information about the error that occurred.
            </p>
            <p>
                <strong>不应为已部署的应用程序启用开发环境.</strong>
                它可能会导致向最终用户显示异常中的敏感信息.
                对于本地调试，启用 <strong>Development</strong> 环境通过设置<strong>ASPNETCORE_ENVIRONMENT</strong> 环境变量为 <strong>Development</strong>
                并重新启动应用程序。
            </p>
        </div>
    </div>
</body>

</html>
