@page "/"
@attribute [TabItemOption(Text = "Index", Closable = false)]
<PageTitle>首页</PageTitle>




<Row ItemsPerRow="ItemsPerRow.Two">   
    <GroupBox Title="指令统计">
        <Chart ChartType="ChartType.Pie" OnInitAsync="@OnInit" OnAfterInitAsync="@OnAfterInit" OnAfterUpdateAsync="@OnAfterUpdate" @ref="PieChart" />
    </GroupBox>

    <GroupBox Title="您的连接信息">
        <div class="row g-3 form-inline">
            <div class="col-12 col-sm-6">
                <Display Value="ClientInfo.Id" DisplayText="连接 ID" ShowLabel="true" />
            </div>
            <div class="col-12">
                <Display Value="ClientInfo.RequestUrl" DisplayText="请求地址" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6">
                <Display Value="ClientInfo.Ip" DisplayText="IP 地址" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6">
                <Display Value="ClientInfo.OS" DisplayText="操作系统" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6">
                <Display Value="ClientInfo.Browser" DisplayText="浏览器" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6">
                <Display Value="ClientInfo.Engine" DisplayText="浏览器引擎" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6">
                <Display Value="ClientInfo.Device" DisplayText="设备" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6">
                <Display Value="ClientInfo.Language" DisplayText="语言" ShowLabel="true" />
            </div>
            <div class="col-12">
                <BootstrapInput Value="ClientInfo.UserAgent" DisplayText="UserAgent" ShowLabel="true" readonly />
            </div>
        </div>
    </GroupBox>


    <div>
        <p class="fs-5">服务器数量：<CountUp Value="230" /> </p>
        <p class="fs-5">已绑定用户：<CountUp Value="693" /></p>
        <p class="fs-5">指令总执行次数：<CountUp Value="69365" /></p>
    </div>
</Row>



<SurveyPrompt Title="How is Blazor working for you?" />
