@using BootstrapBlazor.Components;
@using MineCosmos.Bot.BlazorApp.Shared.Base;
@using MineCosmos.Bot.Entity;
@using System.Diagnostics.CodeAnalysis;
@using MineCosmos.Bot.Service.Bot;

<span>@VirtualItem1?.Value</span>

<Select @bind-Value="VirtualItem1"
        IsVirtualize="true"
        ShowLabel = "true"
        DisplayText="指令组"
        OnQueryAsync="OnQueryAsync"
        OnSelectedItemChanged="OnSelectedItemChanged"
        ShowSearch="true"></Select>

@code {

    [Inject]
    [NotNull]
    public ICommandManagerService commandManagerService { get; set; }

    private SelectedItem VirtualItem1 { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectItemChanged { get; set; }


    [NotNull]
    [Parameter]
    public int McServerId { get; set; }

    private async Task OnSelectedItemChanged(SelectedItem selectedItem)
    {
        if (OnSelectItemChanged.HasDelegate)
        {
            int.TryParse(selectedItem.Value, out int selectServerId);
            await OnSelectItemChanged.InvokeAsync(selectServerId);
        }
    }

    private async Task<QueryData<SelectedItem>> OnQueryAsync(VirtualizeQueryOption option)
    {

        var lst = await commandManagerService.GetListCommandGroupByServerId(McServerId);

        if (!string.IsNullOrEmpty(option.SearchText))
        {
            lst = lst.Where(i => i.Name!.Contains(option.SearchText, StringComparison.OrdinalIgnoreCase)).ToList();
        }

        return new QueryData<SelectedItem>
            {
                Items = lst
                .Skip(option.StartIndex).Take(option.Count)
                .Select(i => new SelectedItem(i.Id.ToString(), i.Name)),
                TotalCount = lst.Count
            };
    }


}
