@inherits BotComponentBase<MinecraftServerEntity>

<span>@VirtualItem1.Value</span>
<Select @bind-Value="VirtualItem1" IsVirtualize="true"
        OnQueryAsync="OnQueryAsync"
        OnSelectedItemChanged = "OnSelectedItemChanged"
        ShowSearch="true" ></Select>

@code {

}
